@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.App {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background:url('assets/trimmed_orbit_Trim_Slomo.gif') 100% 100% fixed;
    color: white;
}

.welcomeHeader {
    text-align: center;
    position: relative;
    top: 30%;
}

.welcomeTime {
    font-size: 4em;
    font-weight: bold;
}

.dateLabel {
    font-size: 1.7em;
    padding-top: 1%;
}

.linksParentContainer {
    position: relative;
    top: 35%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 9%;
    grid-row-gap: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.work {
    grid-area: 1 / 1 / 2 / 2;
}

.collegeApps {
    grid-area: 1 / 2 / 2 / 3;
}

.messaging {
    grid-area: 1 / 3 / 2 / 4;
}

.socialMedia {
    grid-area: 1 / 4 / 2 / 5;
}

.links {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}

li {
    font-size: 1.1em;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

.groupHeader {
    font-size: 1.3em;
    font-weight: bold;
}

.orangeHeader {
    background-image: linear-gradient(to right, #fc4a1a, #f7b733);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blueHeader {
    background-image: linear-gradient(to right, #0072ff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.greenHeader {
    background-image: linear-gradient(to right, #11998e, #38ef7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.redHeader {
    background-image: linear-gradient(to right, #DD2476, #FF512F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    height: 3px;
    border: none;
}

.orangeLine {
    background: linear-gradient(to right, #fc4a1a, #f7b733);
}

.blueLine {
    background: linear-gradient(to right, #0072ff, #00c6ff);
}

.greenLine {
    background: linear-gradient(to right, #11998e, #38ef7d);
}

.redLine {
    background: linear-gradient(to right, #DD2476, #FF512F);
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}